<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <form action="/search" method="gets">
            <div class="form-group">
                <h2 class="text-center page-header"><label for="search-bar">Game Search</label></h2>
                <input type="text" name="query" class="form-control" id="search-bar" placeholder="Title">
            </div>
            <div class="form-group">
            <button class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>

<%if @products != nil && @products.length > 0 %>
        <%= render partial: "shared/product_list" %>
<% elsif @products %>
    <div class="row">
        <div class="col-sm-12">
            <strong class="text-center">Sorry. No Games Match your search query.</strong>
        </div>
    </div>
<% end %>