<form>
    <div class="form-group">
        <label for="search-bar">Game Search</label>
        <input type="text" class="form-control js-search-bar" placeholder="Title">
    </div>
    <button class="btn btn-default js-search-btn">Submit</button>
</form>