<form action="/search" method="gets">
    <div class="form-group">
        <label for="search-bar">Game Search</label>
        <input type="text" name="query" class="form-control" id="search-bar" placeholder="Title">
    </div>
    <button class="btn btn-default">Submit</button>
</form>

<%if @products%>
    <%= @products %>
<% end %>