<div>
    <h2 class="text-center page-header">Welcome to You Rate It</h2>

    <h3 class="text-center">What It Is</h3>
    <article>
    <p class="text-justify">
        You rate it is a web app that allows users to review products and rate the reviews that other users have made.
    </p>
    <h3 class="text-center">How it works</h3>
    <p class="text-justify">
        Whenever a user rates another users review of a product that rating affects how influential the author of the review is.  More influential authors have a greater effect on a product's score.
    </p>
    <h3 class="text-center">Why It Was Made.</h3>
    <p class="text-justify">
        You Rate It was made to serve as a democratized metacritic.  Review websites often times earn income from ads that are paid for by the creators of the products are reviewed on the website.  This creates a conflict of interests as reviewers may be tempted to review a product more favorably than it deserves in order to appease the hand that feeds, i.e., the advertisers.
    </p>
    <p class="text-justify">
        By allowing users to rate the reviews of other users, greate become more influential and the average user review score is as representative of a products quality as professional reviews, but without the aforementioned conflict of interest.
    </p>
    <h3 class="text-center">Acknowldedgements and Contact Details</h3>
    <p class="text-justify">
        This website was made to interface with the Giant Bomb API.  It has and abundance of content and I'm very grateful to the community there.  This project is my final project for the <a href="https://ironhack.com">Iron Hack</a> web development bootcamp.  If you have any questions or comments, feel fre to <a href="mailto:SamuelSFrade@gmail.com">email me.</a>
    </p>
    <p class= "text-justify">
        The code for this website can be seen at <a href="https://github.com/SamuelSF/weighted-reviews">https://github.com/SamuelSF/weighted-reviews</a>.
    </p>
    </article>
</div>