This is the welcome page.
<br>
<a href="users/sign_up/">Sign Up</a>
<br>
<a href="/users/sign_in/">Sign In</a>
<br>
<a href="/users/sign_out/" data-method="delete">Sign Out</a>
<br>
<a href="/products">See Products</a>