<div>
    <h3 class="text-center">Welcom to You Rate It</h3>

    <h4 class="text-center">What It Is</h4>
    <p class="text-justify">
        You rate it is a web site that permits users to review products and rate the reviews that other users have made.
    </p>
    <h4 class="text-center">How it works</h4>
    <p class="text-justify">
        Whenever a user rates another user's review of a product that rating affects how influential the author of the review is.  More influential users have a greater effect on a product's score.
    </p>
    <h4 class="text-center">Why It Was Made.</h4>
    <p class="text-justify">
        You Rate It was made to serve as a democratized metacritic.  Review websites often earn income from ads that run on the website.  Often times these ads are for products that are reviewed on that very website.  This creates a conflict of interests as reviewers may be tempted to review a product more favorably than it deserves to appease the hand that feeds, i.e., the advertisers.
    </p>
    <p class="text-justify">
        By allowing users to rate the reviews of other users, reviewers of a high quality become more influential and the average user review score is as representative of a products quality as professional reviews, but without the aforementioned conflict of interest.
    </p>
</div>