<div class="row faux-row">
    <div class="col-sm-12">
        <h2 class="text-center page-header">Games</h3>
    </div>
</div>

<div class="row faux-row">
    <div class="col-sm-12">
        <h4 class="text-center"><%= will_paginate @products %></h4>
    </div>
</div>

<%= render partial: "shared/product_list" %>

<div class="row faux-row">
    <div class="col-sm-12">
        <h4 class="text-center"><%= will_paginate @products %></h4>
    </div>
</div>