<ul>
    <% @products.each do |product| %>
        <li>
            <a href="/products/<%= product.id %>"><%= product.title %></a>
            <% if product.product_score%>
                <%= product.product_score.round(1) %>
            <% end %>
        </li>
    <% end %>
</ul>