<h3 class="text-center"><%= @product.title %></h3>
<p><%= @product.description %></p>

<a href="/products/<%= @product.id %>/reviews/new">
    Write a Review!
</a>


<ul class="text-center">
<% @reviews.each do |review| %>
    <li>
        <%= review.title %>
    </li>
<% end %>
</ul>